<!DOCTYPE html>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav id="mySidenav" class="sidenav">
	<input type="text" id="mySearch" onkeyup="search()" placeholder="Search.." title="Type in a category">
	<div id="myMenu">
		<a href="#">About</a>
		<a href="#">Services</a>
		<a href="#">Clients</a>
		<a href="#">Contact</a>
	</div>
</nav>
<section class="main">
	<header>
		{% block header %}{% endblock %}
	</header>
	{{ content }}
</section>
